<div class="container">
    <h1 class="title">Profile Page!</h1>
  <% if session[:user_id] %> 
  <div class="main-container">
    <div class="col-md-12">
      <%= @user.name %>
    </div>
    <div class="col-md-12">
      <%= @user.email %>
    </div>
    <div class="col-md-12">
      <%= render "posts/new_post" %>
    </div>
  </div>
  <%else%>
      <%=link_to "Login Please!",login_path%>
  <% end %>
</div>